%h1
  Contato de Marcos Vinicius e Taisa Pires
%p.description
  Qualquer informação que queira compartilhar ou perguntar nos contacte pelo formulário abaixo: 
.section-bg.mini
  .contact-form
    -if @contact.errors.any?
      %ul.notice
        -@contact.errors.full_messages.each do |msg| 
          %li
            = msg  
    
    =form_for @contact, url: {:action => "submit"} do |c|
      %table
        %tr
          %td
            =c.label :name, "Nome: "
          %td
            =c.text_field :name
        %tr
          %td
            =c.label :email, "Email: "
          %td
            =c.text_field :email
        %tr
          %td
            =c.label :text, "Dúvida ou comentário: "
          %td
            =c.text_area :text
        %tr
          %td
            
          %td
            =c.submit "Enviar"
  
    %h4{style: "font-size: 24px; text-align: center; padding: 20px 0;"}
      Informações adicionais dos Noivos
    .noivo
      %p
        %span
          Marcos Vinicius
      %br
      %p 
        %span
          Cel Claro: 
        (19) 8155-0360
      %p 
        %span
          Cel Tim: 
        (19) 8152-9406
      %p
        %span
          Email: 
        =link_to "cardosounicamp@gmail.com", "mailto:cardosounicamp@gmail.com"
    .noiva
      %p
        %span
          Taísa Pires
      %br
      %p 
        %span
          Cel Tim: 
        (19) 8289-3278
      %p 
        %span
          Tel Fixo: 
        (19) 2511-1927
      %p
        %span
          Email: 
        =link_to "taisa881@gmail.com", "mailto:taisa881@gmail.com"  
        
    
    
    
  .clearboth
  -unless flash[:notice].nil?
    .flash
      =flash[:notice]
  