%h1
  Cotas de Lua de Mel
  
%p.description
  Aos convidados que desejarem nos presentear nesta data, gostaríamos que o fizessem em dinheiro, visto que já temos todos os itens necessários para começar nossa vida de casados, isto evitaria muitos presentes repetidos e nos ajudaria a ter um "pé de meia" para nossa Lua de Mel. 
  Confira abaixo os valores e dados da nossa conta bancária, assim que nos depositarem deixem uma mensagem abaixo para termos um controle dos depósitos.Estaremos à disposição para tirar qualquer dúvida. Desde já, agradecemos a compreensão e generosidade de todos!
%span.value.totalearned
  =@objective

%div.section-bg.mini.objetivos
  %div.main-objective
    %h3
      %span
        Objetivo Atual
    
    .objetivo.objetivo1
      %span.porcentagem
        0%
      %span.name
        TV LED        
      .clearboth
      %div.bar-container
        %div.bar-init
        %div.bar-progress
        %div.bar-end        
      %div.image
        %span.value
          1600
          
    .objetivo.objetivo2
      %span.porcentagem
        0%
      %span.name
        6 Diárias no Hotel 
      .clearboth
      %div.bar-container
        %div.bar-init
        %div.bar-progress
        %div.bar-end
      %div.image
        %span.value
          1000
    .objetivo.objetivo3
      %span.porcentagem
        0%
      %span.name
        Despesas com o aéreo
      .clearboth
      %div.bar-container
        %div.bar-init
        %div.bar-progress
        %div.bar-end
      %div.image
        %span.value
          1600   
    .clearboth
    
    .coluna-esquerda
      %h4.conta-corrente
        Marcos Vinicius Cardoso Santini
      %p
        %span.bold
          Santander
        %br
        %span.bold
          Agência: 
        3910
        %br
        %span.bold
          Conta Corrente: 
        01082094-9
        
      
    .coluna-direita
      %h4.conta-corrente
        Taisa Pires de Jesus
      %p
        %span.bold
          Banco do Brasil
        %br
        %span.bold
          Agência: 
        0212-7
        %br
        %span.bold
          Conta Poupança:
        33344-1
        %br
        %span.bold
          Variação: 
        51
    
    .clearboth
    
    .cota-form
      %h3
        %span
          Depois de depositado confirme os valores no formulário abaixo:
      -if @cota.errors.any?
        %ul.notice
          -@cota.errors.full_messages.each do |cota| 
            %li
              = cota 
      =form_for @cota, url: {:action => "submit_fee"} do |c|
        %h4
          Valor depositado:
        %ul
          %li
            =label :fee_value, "30", "R$ 30"
            =c.radio_button :value, "30"
          %li
            =label :fee_value, "50", "R$ 50"
            =c.radio_button :value, "50"          
          %li
            =label :fee_value, "100", "R$ 100"
            =c.radio_button :value, "100"
          %li
            =label :fee_value, "150", "R$ 150"
            =c.radio_button :value, "150"
          %li
            =label :fee_value, "200", "R$ 200"
            =c.radio_button :value, "200"
          %li.outrovalor
            =label :fee_value, "Outros", "Outros"
            =c.radio_button :value, "Outros"
        .clearboth
        %table
          %tr
            %td.label
              =c.label :name, "Nome"
            %td
              =c.text_field :name
          %tr
            %td.label
              =c.label :email, "Email"
            %td
              =c.text_field :email
          %tr.displaynone.new-value
            %td.label
              =label :value_other, "Valor depositado (em Reais)"
            %td
              =text_field_tag :value_other, "", {"class" => "value_other"}
          %tr
            %td.label
              =c.label :message, "Mensagem aos noivos"
            %td
              =c.text_area :message 
          %tr
            %td
                
            %td
              =c.submit "Enviar"
        
.clearboth   

-unless flash[:notice].nil?
  .flash
    Parabéns, mensagem enviada com sucesso !

-unless @error.nil?
  %script
    $("html, body").animate({ scrollTop : $(document).height() }, "slow");
    
    
