%div.foto-slider
  %ul
    %li
      =image_tag "site/foto1.jpg"
%div.welcame
  %div.sign
  %h1
    Bem vindo ao site do Nosso Casamento
  %p
    Muito obrigado por visitar nosso site! We are so excited to be getting married, and just as excited that you will be able to join us as we celebrate.
    As the day draws nearer, we will continue adding all important information to this site so it can act as one easy reference for everything you need to know.
    We hope you will join us and please contact us if you have any questions or concerns.
%div.section-bg
  %div.coluna-esquerda
    %article
      =image_tag "site/marcos.jpg"
      %h2
        Sobre o Noivo...
      %p
        Bla bla bla blaBla bla bla blaBla bla bla blaBla bla bla blaBla bla bla blaBla bla bla bla
      %p
        =link_to "Ler Mais", "#"
  %div.coluna-direita
    %article
      =image_tag "site/taisa.jpg"
      %h2
        Sobre a Noiva...
      %p
        Bla bla bla blaBla bla bla blaBla bla bla blaBla bla bla blaBla bla bla blaBla bla bla bla
      %p
        =link_to "Ler Mais", "#"
