%div.foto-slider
  %ul
    %li
      =image_tag "site/foto1.jpg"
%div.welcame
  %div.sign
  %h1
    Bem vindo ao site do Nosso Casamento
  %p
    Estamos muito animados com o casamento e queremos que você faça parte desse momento, então resolvemos criar este site para que os nossos familiares e amigos conheçam um pouco mais sobre a nossa história, saibam como vai ser a cerimônia, a festa e tantas outras surpresas que estamos preparando.
    %br
    %br
    Nós iremos deixar aqui diversas informações e registros preciosos dessa trajetória. Vamos publicar fotos dos nossos momentos, mensagens e curiosidades.Não deixem de conferir!
%div.section-bg
  %div.coluna-esquerda
    %article
      %div.PhotoEffect
        %ul
          %li
            =image_tag "site/marcos.jpg"
          %li
            =image_tag "site/taisa.jpg"
          %li
            =image_tag "site/marcos.jpg"
          %li
            =image_tag "site/taisa.jpg"
          %li
            =image_tag "site/marcos.jpg"
          %li
            =image_tag "site/taisa.jpg"
      %h2
        Sobre o Noivo...
      %p
        Bla bla bla blaBla bla bla blaBla bla bla blaBla bla bla blaBla bla bla blaBla bla bla bla
      %p
        =link_to "Ler Mais", "#"
  %div.coluna-direita
    %article
      %div.PhotoEffect2
        %ul
          %li
            =image_tag "site/taisa.jpg"
          %li
            =image_tag "site/marcos.jpg"  
          %li
            =image_tag "site/marcos.jpg"       
      %h2
        Sobre a Noiva...
      %p
        Bla bla bla blaBla bla bla blaBla bla bla blaBla bla bla blaBla bla bla blaBla bla bla bla
      %p
        =link_to "Ler Mais", "#"
