%div.foto-slider
  .slider-wrapper
    %div{id: :slider, class: :nivoSlider} 
      =image_tag "site/foto/Aliancas-big.jpg"
      =image_tag "site/foto/marcos-taisa-maylin-big.jpg"
      =image_tag "site/foto/marcos-taisa-big.jpg"
      =image_tag "site/foto/marcos-taisa6-big.jpg"
      =image_tag "site/foto/marcos-taisa5-big.jpg"
      =image_tag "site/foto/marcos-taisa4-big.jpg"
      =image_tag "site/foto/marcos-taisa3-big.jpg"
      =image_tag "site/foto/marcos-taisa2-big.jpg"
      
%div.welcame
  %div.sign
  %h1
    Bem vindo ao site do Nosso Casamento
  %p
    Estamos muito animados com o casamento e queremos que você faça parte desse momento, então resolvemos criar este site para que os nossos familiares e amigos conheçam um pouco mais sobre a nossa história, saibam como vai ser a cerimônia, a festa e tantas outras surpresas que estamos preparando.
    %br
    %br
    Nós iremos deixar aqui diversas informações e registros preciosos dessa trajetória. Vamos publicar fotos dos nossos momentos, mensagens e curiosidades.Não deixem de conferir!
%div.section-bg
  %div.coluna-esquerda
    %article
      %div.PhotoEffect
        %ul
          %li
            =image_tag "site/foto/mini-marcos3.jpg"
          %li
            =image_tag "site/foto/mini-marcos.jpg"
          %li
            =image_tag "site/foto/mini-marcos1.jpg"
          %li
            =image_tag "site/foto/mini-marcos2.jpg"
          %li
            =image_tag "site/foto/mini-marcos4.jpg"
          %li
            =image_tag "site/foto/mini-marcos5.jpg"
          %li
            =image_tag "site/foto/mini-marcos6.jpg"
          %li
            =image_tag "site/marcos.jpg"
      %h2
        Sobre o Noivo...
      %p
        Bla bla bla blaBla bla bla blaBla bla bla blaBla bla bla blaBla bla bla blaBla bla bla bla
      %p
        =link_to "Ler Mais", "#"
  %div.coluna-direita
    %article
      %div.PhotoEffect2
        %ul
          %li
            =image_tag "site/foto/mini-tata1.jpg"  
          %li
            =image_tag "site/foto/mini-tata.jpg"  
          %li
            =image_tag "site/foto/mini-tata2.jpg"  
          %li
            =image_tag "site/foto/mini-tata3.jpg"  
          %li
            =image_tag "site/foto/mini-tata4.jpg"  
          %li
            =image_tag "site/foto/mini-tata5.jpg"  
          %li
            =image_tag "site/foto/mini-tata6.jpg"
          %li
            =image_tag "site/taisa.jpg"
               
      %h2
        Sobre a Noiva...
      %p
        Bla bla bla blaBla bla bla blaBla bla bla blaBla bla bla blaBla bla bla blaBla bla bla bla
      %p
        =link_to "Ler Mais", "#"
