%div.foto-slider
  .slider-wrapper
    %div{id: :slider, class: :nivoSlider} 
      =image_tag "site/foto/Aliancas-big.jpg"
      =image_tag "site/foto/marcos-taisa-maylin-big.jpg"
      =image_tag "site/foto/marcos-taisa-big.jpg"
      =image_tag "site/foto/marcos-taisa6-big.jpg"
      =image_tag "site/foto/marcos-taisa5-big.jpg"
      =image_tag "site/foto/marcos-taisa4-big.jpg"
      =image_tag "site/foto/marcos-taisa3-big.jpg"
      =image_tag "site/foto/marcos-taisa2-big.jpg"
      
%div.welcame
  %div.sign
  %h1
    Bem vindo ao site do Nosso Casamento
  %p
    Estamos muito animados com o casamento e queremos que você faça parte desse momento, então resolvemos criar este site para que os nossos familiares e amigos conheçam um pouco mais sobre a nossa história, saibam como vai ser a cerimônia, a festa e tantas outras surpresas que estamos preparando.
    %br
    %br
    Nós iremos deixar aqui diversas informações e registros preciosos dessa trajetória. Vamos publicar fotos dos nossos momentos, mensagens e curiosidades.Não deixem de conferir!
%div.section-bg
  %div.coluna-esquerda
    %article
      %div.PhotoEffect
        %ul
          %li
            =image_tag "site/foto/mini-marcos3.jpg"
          %li
            =image_tag "site/foto/mini-marcos.jpg"
          %li
            =image_tag "site/foto/mini-marcos1.jpg"
          %li
            =image_tag "site/foto/mini-marcos2.jpg"
          %li
            =image_tag "site/foto/mini-marcos4.jpg"
          %li
            =image_tag "site/foto/mini-marcos5.jpg"
          %li
            =image_tag "site/foto/mini-marcos6.jpg"
          %li
            =image_tag "site/marcos.jpg"
      %h2
        Sobre o Noivo...
      %p
        Falar dele não é muito difícil, afinal são quase oito anos juntos. Eu achava que ele era o companheiro em que sempre sonhava, 
        mas hoje eu tenho a mais pura certeza de que eu nunca sonhei com ele, 
        jamais imaginava...
      %p
        =link_to "Ler Mais", "sobre-o-noivo"
  %div.coluna-direita
    %article
      %div.PhotoEffect2
        %ul
          %li
            =image_tag "site/foto/mini-tata1.jpg"  
          %li
            =image_tag "site/foto/mini-tata.jpg"  
          %li
            =image_tag "site/foto/mini-tata2.jpg"  
          %li
            =image_tag "site/foto/mini-tata3.jpg"  
          %li
            =image_tag "site/foto/mini-tata4.jpg"  
          %li
            =image_tag "site/foto/mini-tata5.jpg"  
          %li
            =image_tag "site/foto/mini-tata6.jpg"
          %li
            =image_tag "site/taisa.jpg"
               
      %h2
        Sobre a Noiva...
      %p
        A Taísa foi um sonho que se realizou, soube disso na primeira vez que a vi, quando nossos olhares cruzaram a mensagem que ficou foi felicidade, 
        amor, companheirismo. Desde então venho passando cada minuto... 
      %p
        =link_to "Ler Mais", "sobre-a-noiva"
%div.section-bg
  .one-third.contact-form
    %h3.mensagens
      Deixe uma mensagem aos Noivos    
    -unless flash[:errors].nil?
      %ul.notice
        %li.strong
          -if flash[:errors].length > 0
            Os seguintes erros foram encontrados:
          -else
            O seguinte erro foi encontrado:
        -flash[:errors].each do |msg| 
          %li
            = msg

    =form_for @mensage, url: {:action => "submit"} do |msg|
      %table 
        %tr
          %td
            =msg.label :name, "Nome: "
          %td
            =msg.text_field :name
        %tr
          %td
            =msg.label :message, "Mensagem aos Noivos: "
          %td
            =msg.text_area :message
        %tr
          %td
              
          %td
            =msg.submit "Enviar", class: "enviar"
     
  .two-third
    %h3.mensagens
      Últimas mensagens deixadas aos noivos 
    -if @mensages.length > 1
      .coluna-esquerda
        %h4
          =@mensages.first.name
        %p
          =@mensages.first.message
        %p.postado
          Postado à
          =distance_of_time_in_words(@mensages.first.created_at, Time.now, true)  
      .coluna-direita
        %h4
          =@mensages.last.name
        %p
          =@mensages.last.message
        %p.postado
          Postado à
          =distance_of_time_in_words(@mensages.last.created_at, Time.now, true)  
      .clearboth 
      =link_to "Ver todas as Mensagens", home_messages_path, class: "all-messages" 
    -else
      %p{style: "float:left; width: 100%;"}
        Nenhuma mensagem foi confirmada pelos noivos, aguarde.
.clearboth  
-unless flash[:notice].nil?
  .flash
    =flash[:notice]






















