.main-interna
  %h2
    %span
      Locais importantes para a data do Casamento
  %div.clearboth    
  .buttons-container
    =link_to "Cerimônia", "#", class: "greybutton-big", :"data-name" => "cerimonia"
    =link_to "Festa", "#", class: "greybutton-big", :"data-name" => "festa"
    =link_to "Hospedagem", "#", class: "greybutton-big", :"data-name" => "hospedagem"
  .locais
    .cerimonia.bloco-local
      %h3
        %span
          Cerimônia religiosa
      .esquerda
        %h4
          Mapa da Cerimônia        
        ="<iframe width=425' height='350' frameborder='0' scrolling='no' marginheight='0' marginwidth='0' src='https://maps.google.com.br/maps/ms?msa=0&amp;msid=213350742020686683829.0004d76d306813e6c6d2b&amp;hl=pt-BR&amp;ie=UTF8&amp;t=m&amp;ll=-20.459404,-45.438434&amp;spn=0.003518,0.00456&amp;z=17&amp;output=embed'></iframe><br /><small>Visualizar <a href='https://maps.google.com.br/maps/ms?msa=0&amp;msid=213350742020686683829.0004d76d306813e6c6d2b&amp;hl=pt-BR&amp;ie=UTF8&amp;t=m&amp;ll=-20.459404,-45.438434&amp;spn=0.003518,0.00456&amp;z=17&amp;source=embed' style='color:#0000FF;text-align:left'>Paróquia Sagrado Coração de Jesus</a> em um mapa maior</small>".html_safe
      .direita
        %h4
          %span
            Endereço da Igreja:
        %p
          Rua Coronel Aureliano, 8
        %p
          Bairro Sagrado Coração de Jesus
        %p
          Formiga - MG
    .festa.bloco-local
      %h3
        %span
          Festa de Casamento
      .esquerda
        %h4
          Mapa do local da festa       
        =#"<iframe width=425' height='350' frameborder='0' scrolling='no' marginheight='0' marginwidth='0' src='https://maps.google.com.br/maps/ms?msa=0&amp;msid=213350742020686683829.0004d76d306813e6c6d2b&amp;hl=pt-BR&amp;ie=UTF8&amp;t=m&amp;ll=-20.459404,-45.438434&amp;spn=0.003518,0.00456&amp;z=17&amp;output=embed'></iframe><br /><small>Visualizar <a href='https://maps.google.com.br/maps/ms?msa=0&amp;msid=213350742020686683829.0004d76d306813e6c6d2b&amp;hl=pt-BR&amp;ie=UTF8&amp;t=m&amp;ll=-20.459404,-45.438434&amp;spn=0.003518,0.00456&amp;z=17&amp;source=embed' style='color:#0000FF;text-align:left'>Paróquia Sagrado Coração de Jesus</a> em um mapa maior</small>".html_safe
      .direita
        %h4
          %span
            Endereço:
        %p
          Rua Barão de Piunhi, 527
        %p
          Bairro Centro
        %p
          Formiga - MG
    .hospedagem.bloco-local
      %h3
        %span
          Locais de Hospedagem
      .esquerda
        %h4
          Mapa do local da festa       
        =#"<iframe width=425' height='350' frameborder='0' scrolling='no' marginheight='0' marginwidth='0' src='https://maps.google.com.br/maps/ms?msa=0&amp;msid=213350742020686683829.0004d76d306813e6c6d2b&amp;hl=pt-BR&amp;ie=UTF8&amp;t=m&amp;ll=-20.459404,-45.438434&amp;spn=0.003518,0.00456&amp;z=17&amp;output=embed'></iframe><br /><small>Visualizar <a href='https://maps.google.com.br/maps/ms?msa=0&amp;msid=213350742020686683829.0004d76d306813e6c6d2b&amp;hl=pt-BR&amp;ie=UTF8&amp;t=m&amp;ll=-20.459404,-45.438434&amp;spn=0.003518,0.00456&amp;z=17&amp;source=embed' style='color:#0000FF;text-align:left'>Paróquia Sagrado Coração de Jesus</a> em um mapa maior</small>".html_safe
      .direita
        %h4
          %span
            Endereço:
        %p
          Rua Barão de Piunhi, 527
        %p
          Bairro Centro
        %p
          Formiga - MG
    %div.clearboth

  