.main-interna
  %h2
    %span
      Locais importantes para a data do Casamento
  %div.clearboth    
  .buttons-container
    =link_to "Cerimônia", "#", class: "bluebutton-big", :"data-name" => "cerimonia"
    =link_to "Festa", "#", class: "greybutton-big", :"data-name" => "festa"
    =link_to "Hospedagem", "#", class: "greybutton-big", :"data-name" => "hospedagem"
  .locais
    .cerimonia.bloco-local
      %h3
        %span
          Cerimônia religiosa
      .esquerda
        %h4
          Mapa da Cerimônia        
        ="<iframe width=425' height='350' frameborder='0' scrolling='no' marginheight='0' marginwidth='0' src='https://maps.google.com.br/maps/ms?msa=0&amp;msid=213350742020686683829.0004d76d306813e6c6d2b&amp;hl=pt-BR&amp;ie=UTF8&amp;t=m&amp;ll=-20.459404,-45.438434&amp;spn=0.003518,0.00456&amp;z=17&amp;output=embed'></iframe><br /><small>Visualizar <a href='https://maps.google.com.br/maps/ms?msa=0&amp;msid=213350742020686683829.0004d76d306813e6c6d2b&amp;hl=pt-BR&amp;ie=UTF8&amp;t=m&amp;ll=-20.459404,-45.438434&amp;spn=0.003518,0.00456&amp;z=17&amp;source=embed' style='color:#0000FF;text-align:left'>Paróquia Sagrado Coração de Jesus</a> em um mapa maior</small>".html_safe
      .direita
        %h4
          %span
            Endereço da Igreja:
        %p
          %strong{style: "font-weight: bold;"}
            Igreja do Sagrado Coração de Jesus    
        %br
        %p
          Rua Coronel Aureliano, 8
        %p
          Bairro Sagrado Coração de Jesus
        %p
          Formiga - MG
        %br
        %br
        %p
          =image_tag "site/foto-igreja.jpg"
    .festa.bloco-local
      %h3
        %span
          Festa de Casamento
      .esquerda
        %h4
          Mapa do local da festa       
        ="<iframe width='425' height='350' frameborder='0' scrolling='no' marginheight='0' marginwidth='0' src='https://maps.google.com.br/maps?f=d&amp;source=embed&amp;saddr=R.+Bar%C3%A3o+de+Pinhu%C3%AD&amp;daddr=&amp;geocode=FdW2x_4d8NhK_Q&amp;sll=-20.465993,-45.426627&amp;sspn=0.001814,0.004128&amp;hl=pt-BR&amp;mra=mr&amp;ie=UTF8&amp;t=m&amp;ll=-20.466053,-45.426482&amp;spn=0.001759,0.00228&amp;z=18&amp;output=embed'></iframe><br /><small><a href='https://maps.google.com.br/maps?f=d&amp;source=embed&amp;saddr=R.+Bar%C3%A3o+de+Pinhu%C3%AD&amp;daddr=&amp;geocode=FdW2x_4d8NhK_Q&amp;sll=-20.465993,-45.426627&amp;sspn=0.001814,0.004128&amp;hl=pt-BR&amp;mra=mr&amp;ie=UTF8&amp;t=m&amp;ll=-20.466053,-45.426482&amp;spn=0.001759,0.00228&amp;z=18' style='color:#0000FF;text-align:left'>Exibir mapa ampliado</a></small>".html_safe
      .direita
        %h4
          %span
            Endereço:
        %p
          %strong{style: "font-weight: bold;"}
            Barão
        %br
        %p
          Rua Barão de Pinhuí, 527
        %p
          Bairro Centro
        %p
          Formiga - MG
        %br
        %br
        %p
          =image_tag "site/foto-festa.jpg"
    .hospedagem.bloco-local
      %h3
        %span
          Locais de Hospedagem
      %h4
        Para convidados que desejam se hospedar em outro lugar listamos abaixo alguns hotéis presentes na cidade:
      .esquerda       
        %h4
          %span
            %strong{style: "font-weight: bold;"}
              Hotel Colonial Palace
        %p
          Endereço: Pc Ferreira Pires, 29
        %p
          (37) 3321-1383
        %br
        %br
        %h4
          %span
            %strong{style: "font-weight: bold;"}
              Hotel Bandeirante
        %p
          Endereço: R. Floriano Peixoto, 17
        %p
          (37) 3321-2803
      .direita
        %h4
          %span
            %strong{style: "font-weight: bold;"}
              Hotel Maia
        %p
          Endereço: Av. Paulo Lins, 22
        %p
          (37) 3322-2588
    %div.clearboth

  