%h1
	Trajes para as Madrinhas
  
%div.section-bg.noivos
	%p
		Olá minhas queridas! Primeiramente, gostaria de agradecer por fazerem parte desse momento tão especial em nossas vidas, cada uma de vocês foi escolhida, pois tem um lugar muito especial nos nossos corações. Reservamos esse cantinho para publicar dicas de vestidos, cores e restrições para o grande dia. Fiquem tranquilas, não vou ser muito exigente.
	%p
		%br
		%strong{style: "font-weight: bold;"}
			As restrições são para:
		%br
		%br
		%ul
			%li
				%strong{style: "font-weight: bold;"}
					&rArr;
				Vestido todo preto
			%li
				%strong{style: "font-weight: bold;"}
					&rArr;
				Vestido curto
			%li
				%strong{style: "font-weight: bold;"}
					&rArr;
				Vestido branco
			%li
				%strong{style: "font-weight: bold;"}
					&rArr;
				Vestido com calda
	%br			
	%p
		%strong{style: "font-weight: bold;"}
			Motivos: 
		%br	
		Particularmente, acho o pretinho básico muito glamuroso, mas, exclusivamente para madrinhas de casamento, não é o ideal. Nada contra vestido curto, porém madrinhas devem se destacar pelo glamour, portanto, acredito que o vestido longo será o melhor para todas vocês, deixando-as muito elegantes. Vestido branco, somente a noiva poderá usar. Vestido com calda, também é exclusivo para a noiva, mesmo porque não as deixarão a vontade para a festa.
%div{style: "margin:20px auto 0; width:650px;"}
	=image_tag("galeria/padrinhos/vestidos.jpg")
