%h1
	Novidades do Casamento !
  
%div.section-bg.noivos
	%p
		Prezados Convidados,
		%br
		%br
		Estamos aqui para lhes apresentarem algumas novidades que teremos na nossa recepção! Abaixo seguem elas:
	%br
	%p{style: "font-weight: bold;"}
		Chefes de Família, se preparem!! A gravata do noivo vai passar, leve sua contribuição para não ser o pão duro da festa!! (Tudo levado meramente na brincadeira, sem stress).
	%div{style: "margin:20px auto 30px; width:184px;"}
		=image_tag("galeria/madruga.jpg")

	%p
		Cachaceiros de plantão!! O noivo irá presentear um de vocês com um wisky Red Label!! Isso mesmo, um sortudo pegará a caixa de whisky que ele irá jogar! Preparam o fígado e os braços para correrem atrás dela! Atenção: não vale pular em cima de ninguém!
	%div{style: "margin:20px auto 30px; width:320px;"}
		=image_tag("galeria/johnnie.jpg")	

	%br
	%p
		A todos os convidados!! Se divitam com o Bartender, com variados drinks e coqueteis com e sem álcool. Tudo preparado especialmente para vocês!
	%div{style: "margin:20px auto 30px; width:410px;"}
		=image_tag("galeria/drinks.jpg")	
	%br
	%p
		Abriu-se a pista de dança, mulheres garantam suas chinelas para poderem dançarem até se esgotarem!! 
		Disponibilizaremos os kits festa e várias plaquinhas divertidas pra vocês posarem para fotografias e rirem muito!
	%br
	%p
		O seu vestido descosturou? A bebida não caiu bem? Vai pegar um gatinho(a) e o hálito não ajuda? Dançou até cair? Se dirijam ao banheiro M ou F que preparamos alguns "mimos" para ajudar vocês!
	%br
	%p
		Antes de ir embora, não esqueça de deixar a sua marquinha na nossa "Finger Tree", é só molhar seu dedo na tinta de cor escolhida e bater a sua digital na nossa árvore. Se quiser, pode assinar seu nome também! Assim teremos sua lembrança registrada deste momento tão importante para nós!
	
	%div{style: "margin:20px auto 30px; width:570px;"}
		=image_tag("galeria/fingerprint.jpg")		

	%p
		Solteironas da vez!!! Vocês terão várias chances de desencalhar!! A noiva irá jogar o boneco do Santo Antônio, o buquê e ainda colocará o nome de vocês na barra do vestido! Enquanto não chega o casório, deixamos uma oração do desencalhe abaixo para vocês. Agora vai!!!

	%div{style: "margin:20px auto 30px; width:650px;"}
		=image_tag("galeria/prayer.jpg")