%h1
	Trajes para os Padrinhos
  
%div.section-bg.noivos
	%p
		Queridos Padrinhos, gostaríamos de agradecer por fazer parte desse momento tão especial nas nossas vidas, e se foram escolhidos é porque, certamente, ocupam um lugar muito importante em nossos corações. Reservamos esse cantinho para algumas dicas de trajes. Para vocês, a única exigência é o terno e gravata, pedimos somente para não usarem cores muito "berrantes" nem com bichinhos, para não chamar muita atenção, se preferirem, podem conversar com sua a parceira para combinar a cor da gravata com o vestido dela. E a única restrição é para a gravata prata, essa é exclusiva do noivo.
	%p
		%br
		%strong{style: "font-weight: bold;"}
			A única restrição:
		%ul
			%li
				%strong{style: "font-weight: bold;"}
					&rArr;
				Gravata prata
	%div{style: "margin:20px auto 0; width:500px;"}
		=image_tag("galeria/padrinhos/terno.jpg")
