%h1
	Atenção Solteironas !
  
%div.section-bg.noivos
	%p
		Já ouviram falar sobre a velha tradição de escrever o nome das solteiras na barra do vestido da noiva? Reza a lenda, que é para atrair bons fluidos e ajudar as mesmas também a subirem no altar. Todas as interessadas, favor me enviarem um e-mail ou entrarem em contato comigo no Facebook, pois eu preciso providenciar a fita bordada com os nomes. Aguardo o contato de todas. taisa881@gmail.com

	%div{style: "margin:20px auto 0; width:400px;"}
		=image_tag("galeria/padrinhos/fitinha-solteiras.jpg")