<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @family.name %>
</p>


<%= link_to 'Editar', edit_administrador_family_path(@family) %> |
<%= link_to 'Voltar', administrador_families_path %>
