-require "i18n"
:css
	h1{
		font-size: 30px;
	}
	.Main{
		width: 1024px;
		margin: 0 auto;
	}
	table{
		width: 100%;
		border-collapse:collapse;
	}
	table td{
		border: 1px solid #000;
	}
	.Green{
		background: #6dffaf;
	}

.Main
	%h1
		Pessoas Confirmadas para o Casamento

	-if @u.length > 0	
		%table{cellspacing: "0", cellpadding: "0"}
			-@u.each do |p|
				-a = I18n.transliterate(p.name[0])
				-if a == @bag
					-if (p.updated_at - 3.days.ago) > 0
						%tr.Green
							%td
								=p.name
							%td{style: "width: 50px;"}
								=p.updated_at
					-else
						%tr
							%td
								=p.name
							%td{style: "width: 50px;"}
								=p.updated_at
				-else
					%tr
						%td{style: "font-size: 20px; font-weight:bold; border: none", colspan: 2}
							=p.name[0]	
					-if (p.updated_at - 3.days.ago) > 0
						%tr.Green
							%td
								=p.name
							%td{style: "width: 50px;"}
								- f = Time.now - p.updated_at 
								= distance_of_time_in_words(p.updated_at, Time.now, false)
						-@bag = I18n.transliterate(a)
					- else
						%tr
							%td
								=p.name
							%td{style: "width: 50px;"}
								- f = Time.now - p.updated_at 
								= distance_of_time_in_words(p.updated_at, Time.now, false)
					-@bag = I18n.transliterate(a)
	-else
		Não há nenhum registro ainda

		
