%h1
  Sobre o Noivo Marcos Vinícius
  
%div.section-bg.noivos
  =image_tag "site/marcos.jpg", class: "noivos-foto"
  %p
    Falar dele não é muito difícil, afinal são quase oito anos juntos. Eu achava que ele era o companheiro em que sempre sonhava, 
    mas hoje eu tenho a mais pura certeza de que eu nunca sonhei com ele, jamais imaginava encontrar alguém em demasia carinhoso, companheiro, 
    justo, compreensivo e divertido. Daquele "tipo" que é bem mais do que um noivo, é meu melhor amigo. "Do tipo" que nunca quer me ver chorar e 
    sempre está ali pra tudo que eu precisar, tudo mesmo! Já fez centenas de sacrifícios pra me ajudar de todas as formas que se pode imaginar, 
    "Do tipo" que faz de tudo pra me ver feliz, mas que também sabe aconselhar e ser duro quando estou no caminho errado. 
    Do tipo que sempre se preocupa com todos que ama e é sempre atencioso com todos eles. 
  %br
  %p  
    E posso afirmar com ampla convicção que ele traz consigo muita 
    sinceridade, alegria, amor à família, algumas vezes um pouco de teimosia (rsrs), otimismo e  dignidade em excesso. Motivado e estudar é um grande prazer, 
    luta pelos seus objetivos e enfrenta o mundo até conquistá-los. Não se entristece facilmente, pois sabe que sempre no final tudo dá certo. 
    Resumindo o Marcos Vinicius em poucas palavras: Alguém que qualquer um sempre deseja ter ao seu lado. E eu tenho a maior sorte do mundo!
  .clearboth