%h1
  Sobre a Noiva Taísa Pires
  
%div.section-bg.noivos
  =image_tag "site/nega-infinito-linda.jpg", class: "noivos-foto"
  
  %p
    A Taísa foi um sonho que se realizou, soube disso na primeira vez que a vi, quando nossos olhares cruzaram a mensagem que ficou foi felicidade, amor, 
    companheirismo. Desde então venho passando cada minuto da minha vida pensando e planejando como vou viver e ser feliz ao lado dela. 
  %br
  %p
    O que acho dela? bom, ela é meiga, organizada, adora um bom abraço e jogar conversa fora, AMA um carinho e ama a familia dela, 
    também acho muito lindo seu sorriso e seus olhos, sem contar a covinha ahaha. Preciso confessar que nunca quis me casar, 
    nunca quis ter filhos ou viver com alguém, mas foi impressionante o quanto isso mudou com o tempo e como agora eu desejo estas coisas até mesmo mais que ela. 
    Ela me transformou em algo melhor, em seus conselhos encontro o caminho para seguir e ter sucesso.
  %br
  %p
    Desejo mais que nunca passar o resto da minha vida ao lado dessa mulher maravilhosa que me encanta e também me admira com pequenas coisas que faz, 
    idéias, me ouve, me explica as coisas, tem paciência e valores que se somam aos meus.
  %br
  %p
    A Taísa, resumindo, é a mulher da minha vida, alguém que nunca achei que ia encontrar e que contra todas as probabilidades acabamos nos conhecendo, 
    contra a ídeia dos incrédulos namoramos e contra todas as adversidades casamos.  
  .clearboth