%h1
  Sobre o Casal
  
%div.section-bg.noivos
  %h4{style: "font-size: 24px;"}
    Para queles que não sabem como tudo começou, deixamos aqui o relato da nossa trajetória.
  =image_tag "site/marcosetata.jpg", class: "noivos-foto"
  %p
    No ano de 2005 nos conhecemos em um show de rock na cidade de Varginha - MG, estávamos interessados um no outro, porém não rolou nada além de amizade. 
    Como morávamos em cidades bem distantes, trocamos e-mails e nos comunicamos pelo MSN, 
    o tempo foi passando e nossa amizade ficava cada vez mais forte e quando sem perceber já estávamos bem próximos um do outros. 
  %br
  %p
    Combinamos de encontrar em um show em São Paulo - SP e foi a primeira vez que nos beijamos. Desde então nos encontramos muitas vezes, 
    mas decidimos não namorar, pois achávamos que a distância ia acabar comprometendo o relacionamento. E realmente isso aconteceu, 
    terminamos por alguns dias, mas no fim das contas não conseguimos ficar longe um do outro. 
  %br
  %p
    Foi daí, no dia 23 de setembro de 2007 que resolvemos assumir um namoro firme, conhecemos os familiares e resolvemos enfrentar todos os obstáculos da distância. 
    Passamos anos namorando à distância, mas levamos isso muito bem. Nos víamos duas ou três vezes no ano, 
    mas nossa história sempre recebeu o apoio de todos os familiares e muitos amigos, assim, no ano de 2010 ja estávamos morando na mesma cidade, em Campinas - SP. 
  %br
  =image_tag "site/marcosetata2.jpg", class: "noivos-foto left"
  %p  
    Dava um frio na barriga se a relação não desse certo quando estivéssemos realmente juntos, 
    visto que passamos muito tempo longe um do outro e nos encontrando poucas vezes no ano.
    Mas, podemos dizer que foi somente uma impressão, desde então nossa relação deslanchou, passamos a morar juntos em uma república, decidimos ter um lindo cãozinho, 
    o Maylow, que faz parte de nossas vidas, e quando abrimos os olhos já estávamos escolhendo nosso apartamento. Ralamos pra mobiliar nosso cantinho, 
    mas foi muito divertido e compensador.
  %br
  %p
    Hoje, podemos dizer que nossa relação é a melhor que se pode ter, decidimos as coisas juntos, conversamos e não brigamos e somos o casal mais feliz do mundo, 
    nós fomos feitos um pro outro com toda certeza. Afirmamos aqui, para todos nossos maravilhosos convidados deste evento muito especial, 
    que temos a maior sorte do mundo só de estar um com o outro, ou melhor um pelo outro.Como dizia o velho poeta: 
    Quando se aprende a amar,o mundo passa a ser seu...
    
.clearboth