@font-face {
  font-family: 'Corsiva';
  src: url('MonotypeCorsiva.eot');
  src: local('☺'), url('MonotypeCorsiva.woff') format('woff'), url('MonotypeCorsiva.ttf') format('truetype'), url('MonotypeCorsiva.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  background: url(site-bg.gif) repeat;
  color: #666666;
  font-size: 14px;
}

h1 {
  font-family: Corsiva, arial;
  font-size: 32px;
  text-align: center;
  color: #CC9503;
  margin: 12px 10px 10px;
  text-shadow: 2px 2px 3px #999999;
  filter: dropshadow(color=#999999, offx=2, offy=3);
}

a {
  color: #CC9503;
  cursor: pointer;
  margin: 0 11px;
  padding: 5px;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

.clearboth{
  clear:both;
}

.time {
  float: left;
  font-family: Corsiva,Georgia;
  font-size: 24px;
  left: 0;
  position: absolute;
  top: -93px;
}

.fb-like-buttom{
  float: right;
  position: absolute;
  right: 20px;
  top: -92px;
}
.foxform input, .foxform textarea {
  background-color: #FFFFFF;
  border: 1px solid #C0C0C0;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 0 5px rgba(192, 192, 192, 0.698) inset, 0 0 7px rgba(192, 192, 192, 0.698);
  margin: 0 3px !important;
  padding: 5px !important;
}

.FloatLeft {
  float: left;
}
.FloatRight {
  float: right;
}
.clear {
  clear: both;
}

.direita {
  
  float: right;
  padding: 0 0 0 20px;
  width: 430px;
}

.esquerda {
  float: left;
  padding: 0 20px 0 0;
  width: 429px;
  border-right: 1px solid #D1D1D1;
}

.line-top {
  background: url(top-bg.gif) repeat;
  width: 100%;
  height: 7px;
}
.header-top {
  background: url("bordado-bg.gif") repeat scroll 0 0 transparent;
  height: 52px;
  width: 100%;
}
.header-badge {
  background: url("badge-top.png") repeat scroll 0 0 transparent;
  height: 89px;
  left: 389px;
  position: absolute;
  top: -102px;
  width: 191px;
}
.header-badge span {
  color: #999999;
  display: block;
  font-size: 30px;
  height: 30px;
  margin: 17px auto 0;
  text-align: center;
  width: 100%;
}
.container {
  width: 980px;
  margin: 0 auto;
}
.container header {
  position: relative;
}
.noivos-nome-container {
  height: 120px;
  margin: 50px auto 0;
  width: 716px;
}
.noivos-nome-container .curl-left {
  background: url("curl-left.png") repeat scroll 0 0 transparent;
  height: 50px;
  width: 100px;
  background: url("curl-left.png") repeat scroll 0 0 transparent;
}
.noivos-nome-container .curl-right {
  background: url("curl-right.png") repeat scroll 0 0 transparent;
  height: 50px;
  width: 100px;
}
.noivos-nome-container .noivos-nome {
  background: url("Marcos-vinicius-e-taisa.png") no-repeat scroll 0 0 transparent;
  height: 84px;
  width: 516px;
}

.noivos-nome-container.mini {
  width: 451px;
  height: 44px;
    margin: 20px auto 0;
}

.noivos-nome-container.mini .noivos-nome {
  background: url("Marcos-vinicius-e-taisa-mini.png") no-repeat scroll 0 0 transparent;
  height: 41px;
  width: 250px;
}
.noivos-nome-container .sub-message {
  color: #666666;
  float: left;
  font-family: Corsiva, Georgia;
  font-size: 24px;
  text-align: center;
  width: 100%;
}
.main-menu {
  background: url("menu-principal.png") repeat scroll 0 0 transparent;
  height: 31px;
  margin: 0 auto;
  padding: 14px 80px;
  width: 819px;
}
.main-menu ul li {  
  float: left;
}
.main-menu ul li a {
  text-decoration: none;
  color: #FFFFFF;
  padding: 5px;
  margin: 0 11px;
  cursor: pointer;
  font-family: trebuchet ms;
  font-size: 16px;
}
.main-menu ul li a:hover {
  text-decoration: none;
  color: #e7e7e7;
}
.content {
  background: url("corpo-bg.gif") repeat-y scroll 5px 0 transparent;
  min-height: 300px;
  padding: 12px 20px;
}
.foto-slider {
  background: url("album-fotos.gif") no-repeat scroll 0 0 transparent;
  height: 330px;
  padding: 13px;
  width: 873px;
  margin: 0 auto 0;
  -webkit-box-shadow: 0px 0px 10px 0px #999;
  box-shadow: 0px 0px 10px 0px #999;
}
.bottom-border {
  background: url("corpo-bg-bottom.jpg") no-repeat scroll 2px 0 transparent;
  height: 42px;
  width: 100%;
}
.sign {
  background: url("sign.jpg") no-repeat scroll 0 0 transparent;
  height: 36px;
  margin: 20px auto 0;
  width: 84px;
}
.welcame {
  width: 830px;
  margin: 0 auto;
  text-align: center;
}

.welcame p{
  text-align: center;
  margin: 0 0 35px 0;
}

.welcame h1 {
  font-family: Corsiva, arial;
  font-size: 32px;
  text-align: center;
  color: #CC9503;
  margin: 12px 10px 10px;
  text-shadow: 2px 2px 3px #999999;
  filter: dropshadow(color=#999999, offx=2, offy=3);
}
.section-bg {
  background: url("section-bg.jpg") no-repeat scroll 0 0 transparent;
  margin: 15px 0 0 0;
  padding: 20px 0 0;
  min-height: 230px;
  width: 100%;
}

.section-bg.mini{
  min-height: 60px;
  padding: 20px 60px;
  width: auto;
}

.section-bg.mini form{
  width: 410px;
  margin: 0 auto;
}

.section-bg article {
  width: 400px;
  padding: 20px;
}
.section-bg article img {
  padding: 5px;
  border: 1px solid #999999;
  background: #fff;
  margin: 0 15px 0 0;
  float:left;
  -webkit-box-shadow: 0px 0px 5px 1px #999;
  box-shadow: 0px 0px 5px 1px #999;
}
.section-bg article h2{
  font-family: Corsiva, arial;
  font-size: 32px;
  color: #CC9503;
  text-shadow: 2px 2px 3px #999999;
  filter: dropshadow(color=#999999, offx=2, offy=3);
  margin: 0 0 25px 0;
  float:left;
  width: auto;
  text-align: left;
  padding: 0;
}
.section-bg article p{
  float:left;
  width: 220px;
  margin: 0 0 10px 0;
}

.section-bg article p a{
  color: #CC9503;
  text-decoration: none;
  float:right;
}

.section-bg article p a:hover{
  text-decoration: underline;
}

.coluna-direita {
  float: right;
}
.coluna-esquerda {
  float: left;
}

footer {
  background: url("footer-bg.jpg") repeat-x scroll 0 0 transparent;
  height: 25px;
  margin: 15px 0 0;
  padding: 23px 0 0;
  width: 100%;
}

footer .ConteudoFooter{
  width: 980px;
  margin: 0 auto;
  color: #999999;
  font-size: 11px;
}

.PhotoEffect, .PhotoEffect2 {
  float: left;
  height: 200px;
  width: 175px;
}

.PhotoEffect ul, .PhotoEffect2 ul{
  position: relative;
}

.PhotoEffect ul li, .PhotoEffect2 ul li{
  position: absolute;
  display:none;
}

.description{
  text-align:center;
  margin: 0 0 40px 0;
}

.resultados-container{
  margin: 0 auto;
  padding: 0 20px;
}

.resultados-container h2{
  margin: 0 0 10px 0;
}

.resultados tr th, .resultados tr td{
  padding: 4px 15px;
  text-align:left;
}

.resultados tr th{
  border:1px solid #666;
  background: #666666;
  color: #fff;
}

.resultados tr th:first-child{
  width: 390px;
}

.resultados tr td{
  border:1px solid #666;
  color: #666;
}

.resultados tr td.convidado{
  background: #BDBAFF;
}

.resultados tr td.confirmado{
  background: #C1FFAF;
}

.resultados tr td.naoconfirmado{
  background: #FFD6D6;
}


.search-form th{
  text-align:left;
  padding: 3px;  
}

.confirm-link{
  padding: 0 23px;
}

.confirm-link:hover{
  background: url("sprite.jpg") no-repeat scroll 0 -345px transparent;
}
.confirm-link.cancel:hover{
  background: url("sprite.jpg") no-repeat scroll 0 -5px transparent;
}

.nivoSlider {
    position:relative;
    background:url(slider/loading.gif) no-repeat 50% 50%;
}
.nivoSlider img {
    position:absolute;
    top:0px;
    left:0px;
    display:none;
}
.nivoSlider a {
    border:0;
    display:block;
}

.nivo-directionNav{
  width:100%;
}

.nivo-directionNav a {
  display:block;
  width:30px;
  height:30px;
  background: url(slider/arrows.png) no-repeat;
  text-indent:-9999px;
  border:0;
  top: auto;
  bottom: -36px;
  z-index: 11;
}
.nivo-directionNav a:hover {
    background-color: #eee;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
a.nivo-nextNav {
  background-position:160% 50%;
  right:0px;
}
a.nivo-prevNav {
    background-position:-60% 50%;
    left: 0px;
}

.main-interna{
    background: url("section-bg.jpg") no-repeat scroll 0 0 transparent;
    margin: 0 20px;
}

h2{
  float: left;
  width: 100%;
  padding: 25px 0 20px;
}

h2 span {
  background: url("footer-border.png") no-repeat scroll 0 40px transparent;
  color: #999999;
  font-family: Corsiva,arial;
  font-size: 24px;
  padding: 20px 0 8px;
}

.buttons-container {
  border-bottom: 1px dotted #999999;
  float: left;
  padding: 20px 0;
}

a.greybutton-big {
    background: #666666; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY2NjY2NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzMzMzMzMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #666666 0%, #333333 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#666666), color-stop(100%,#333333)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #666666 0%,#333333 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #666666 0%,#333333 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #666666 0%,#333333 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #666666 0%,#333333 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#333333',GradientType=0 ); /* IE6-8 */
   
    border: 0 solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin:0 50px;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    width: 160px;
}
a.greybutton-big:hover {
    background: #333333; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMzMzMzMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2NjY2NjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #333333 0%, #666666 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333333), color-stop(100%,#666666)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #333333 0%,#666666 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #333333 0%,#666666 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #333333 0%,#666666 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #333333 0%,#666666 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#666666',GradientType=0 ); /* IE6-8 */
    color: #FFFFFF;
}

a.bluebutton-big {
   background: #75add0; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzc1YWRkMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1YzkwYjAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #75add0 0%, #5c90b0 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#75add0), color-stop(100%,#5c90b0)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #75add0 0%,#5c90b0 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #75add0 0%,#5c90b0 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #75add0 0%,#5c90b0 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #75add0 0%,#5c90b0 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75add0', endColorstr='#5c90b0',GradientType=0 ); /* IE6-8 */
    border: 0 solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin:0 50px;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    width: 160px;
}

a.bluebutton-big:hover{
  background: #5c90b0; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzVjOTBiMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3NWFkZDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #5c90b0 0%, #75add0 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5c90b0), color-stop(100%,#75add0)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #5c90b0 0%,#75add0 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #5c90b0 0%,#75add0 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #5c90b0 0%,#75add0 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #5c90b0 0%,#75add0 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c90b0', endColorstr='#75add0',GradientType=0 ); /* IE6-8 */
}

.buttons-container a{
  float:left;
}

h3{
  float: left;
  width: 100%;
  padding: 25px 0 20px;
}

h3 span {
  color: #999999;
  font-family: Corsiva,arial;
  font-size: 24px;
  padding: 20px 0 8px;
}

h4{
  float: left;
  font-family: Corsiva,arial;
  color: #999999;
  font-size: 18px;
  width: 100%;
  padding: 0 0 10px;
}

.bloco-local{
  display:none;
}

.add-acompanhante {
  color: #999999;
  display: block;
  font-size: 16px;
  margin: 0 auto;
  width: 220px;
}

.form-add{
  display:none;
  width:100%;
}

.form-add h4{
  float: none;
  text-align: center;
}

.form-add table td{
  padding: 3px 8px;
  vertical-align: top;
}

.form-add table td .text-box{
  width: 340px;
}

.form-add table td .text-area{
  max-height: 100px;
  max-width: 340px;
}

.notice{
  background: none repeat scroll 0 0 #FF8E8E;
  margin: 10px 0 20px;
  padding: 10px;
  text-align: center;
  color: #000000;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.error-notice label{
  border-bottom: 3px solid #FF8E8E;
}

a.fancybox{
  margin: 0 19px 38px;
  position:relative;
  padding:0;
  height: 150px;
  width:150px;
  float:left;
  background: #000;
}

.albummenu ul{
  position: relative;
  background: #000;
  position: absolute;
  z-index: 10;
  left: -22px;
  top: 20px;
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjY1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC42NSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-8 */

}

.albummenu ul li{ 
  float: left;
  padding: 5px 8px;
  display:block;
}

.albummenu ul li:hover{
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjgiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjgiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.8) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.8)), color-stop(100%,rgba(0,0,0,0.8))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.8) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.8) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.8) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.8) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#cc000000',GradientType=0 ); /* IE6-8 */

}

.albummenu ul li a{
  width:100px;
  display:block;
  margin: 0;
  text-align: center;
  padding: 0 5px;
}

.contact-form table td{
  vertical-align: top;
  padding: 3px 3px;
}

.contact-form input, .contact-form textarea{
  color: #505050;
  background-color: #FFFFFF;
  border: 1px solid #C0C0C0;
  padding: 5px;
  -webkit-border-radius: 5px;  
  border-radius: 5px;
  -webkit-box-shadow:  0px 0px 5px 0px rgba(192, 192, 192, 0.6);
  box-shadow:  0px 0px 5px 0px rgba(192, 192, 192, 0.6);
}

.contact-form textarea{
  max-width: 450px;
  max-height: 150px;
  min-width: 300px;
  min-height: 100px;
}

.contact-form h2{
  font-family: Corsiva, arial;
  font-size: 32px;
  text-align: center;
  color: #CC9503;
  margin: 12px 10px 10px;
  text-shadow: 2px 2px 3px #999999;
  filter: dropshadow(color=#999999, offx=2, offy=3);
}

.noivo {
  float:left;  
  padding: 0 90px;
}

.noiva {
  float:right;  
  padding: 0 90px;
}

.noivo span, .noiva span{
  font-weight: bold;
}

.noivo a, .noiva a{
  padding: 0;
  margin: 0;
}

.contact-form .field_with_errors input, .contact-form .field_with_errors textarea, .error-notice input, .error-notice textarea{
  background: #F9CCCC;
}

.contact-form label{
  float: right;
  line-height:16px;
  margin: 4px 10px 0;
}

.field_with_errors label{
  border-bottom: 3px solid #F9CCCC;
}

.one-third{
  width: 310px;
  float:left;
  margin: 0 15px 0 0;
  padding: 0 10px;
}

.one-third.last{
  margin:0;
}

h3.mensagens{
  background: url("footer-border.png") no-repeat scroll 0 24px transparent;
  color: #999999;
  float: left;
  font-family: Corsiva,arial;
  font-size: 22px;
  margin: 0 0 15px;
  padding: 0 0 8px;
  text-align: left;
  text-shadow: 2px 2px 3px #999999;
  width: auto;
}

.one-third.contact-form form{
  float:left;
}

.one-third.contact-form form table{
  width: 300px;
}
.one-third.contact-form form table input{
  width:180px;
}

.one-third.contact-form form table textarea{ 
  max-height: 100px;
  max-width: 180px;
  min-height: 60px;
  min-width: 150px;
}

.one-third.contact-form .enviar{
  width: 70px;
}
.one-third.contact-form .enviar:hover{
  background: #C0C0C0;
}

.one-third.contact-form .notice{
  float:left;
}

.one-third.contact-form .notice li{
    float: left;
    padding: 3px;
    text-align: left;
}

.one-third.contact-form .notice li.strong{
  font-weight: bold;
}

.two-third{
  width: 580px;
  float:left;
  min-height: 210px;
  padding: 0 0 40px 0;
  position: relative;
}

.two-third .coluna-esquerda, .two-third .coluna-direita{
  width:280px;
  min-height:120px;
  position:relative;
}

.two-third .coluna-esquerda p, .two-third .coluna-direita p{
  width: 210px;
}

.two-third .coluna-esquerda h4, .two-third .coluna-direita h4{
  font-size: 22px;
}

.two-third .postado{
  position:absolute;
  bottom: -16px;
}

.flash{
  display:none;
}

.errors input, .errors textarea{
   background: #F9CCCC;
}

.errors input.enviar{
  background: #fff;
}

.main-objective{
  width:580px;
  margin:0 auto;
}

.main-objective h3{
  text-align:center;
  padding: 25px 0 30px;
}

.main-objective h3 span{
  font-size: 34px;
}

.main-objective .porcentagem{
  float: left;
  font-family: arial;
  font-size: 20px;
  margin: 18px 0 0;
}

.bar-container{
  width:400px;
  border:1px solid #AAAAAA;
  height: 20px;
  float:left;
}

.bar-container .bar-progress{
  background: rgb(201,222,150); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M5ZGU5NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ0JSIgc3RvcC1jb2xvcj0iIzhhYjY2YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzOTgyMzUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(201,222,150,1) 0%, rgba(138,182,107,1) 44%, rgba(57,130,53,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(201,222,150,1)), color-stop(44%,rgba(138,182,107,1)), color-stop(100%,rgba(57,130,53,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9de96', endColorstr='#398235',GradientType=0 ); /* IE6-8 */
  height: 20px;
  width: 0%;
}

.image{
  float: left;
  position: absolute;
  right: 0;
  top: -70px;
}

.objetivo{
  position:relative;
  width: 580px;
  margin: 40px 0 100px;
  float: left;
}

.objetivo1 .image{
  background: url("promo/tv-win2.png") no-repeat scroll 0 0 transparent;
  display: block;
  height: 200px;
  width: 200px;
}

.objetivo1.obj-completo .image{
  background: url("promo/tv-plama-win.png") no-repeat scroll 0 0 transparent;
  
}

.value{
  display:none;
}

.cota-form{
  float:left;
  width: 510px;
}

.section-bg.mini .cota-form form{
  width: 510px;
}

.cota-form ul.notice{
  width: 100%;
}

.cota-form ul.notice li{
  float: none;
  margin: 0;
}

.cota-form ul{
  margin: 0 0 20px 0;
  float:left;
}

.cota-form ul li{
  float:left;
  margin: 0 28px 0 0;
}

.cota-form ul li input{
  float:left;
  margin: 0 1px;
}

.cota-form table td{
  padding: 5px;
}

.cota-form table .label{
  text-align:right;
  vertical-align: top;
  padding: 12px 0 0 0;
}

.cota-form table textarea{
  max-width:420px;
  max-height:120px;
  min-width:250px;
  min-height:60px;
}

.cota-form input, .cota-form textarea {
  color: #505050;
  background-color: #FFFFFF;
  border: 1px solid #C0C0C0;
  padding: 5px;
  -webkit-border-radius: 5px;  
  border-radius: 5px;
  -webkit-box-shadow:  0px 0px 5px 0px rgba(192, 192, 192, 0.6);
  box-shadow:  0px 0px 5px 0px rgba(192, 192, 192, 0.6);
}

.cota-form .field_with_errors input, .cota-form .field_with_errors textarea {
  background: none repeat scroll 0 0 #F9CCCC;
}

.cota-form .field_with_errors {
  display: inline;
}

.all-messages{
bottom: 0px;
position: absolute;
right: 0;
}

.messages-noivos{
  width: 600px;
  margin: 0 auto;
}

.messages-noivos p {
  border-bottom: 1px dotted #999999;
  margin: 0 0 15px;
  padding: 0 0 15px;
}
.messages-noivos .data{
  font-style: italic;
  margin: 0 0 0 10px;
}

.section-bg.noivos{
  width: 800px;
  margin: 0 auto;
}

.noivos-foto{
  float: right;
  padding: 0 0 10px 20px;
}

.noivos-foto.left{
  float:left;
  padding: 0 20px 10px 0;
}

.name{  
  float: right;
  font-size: 20px;
  margin: 0 200px 0 0;
}






