@font-face {
  font-family: 'Corsiva';
  src: url('MonotypeCorsiva.eot');
  src: local('☺'), url('MonotypeCorsiva.woff') format('woff'), url('MonotypeCorsiva.ttf') format('truetype'), url('MonotypeCorsiva.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  background: url(site-bg.gif) repeat;
  color: #666666;
  font-size: 12px;
}

h1 {
  font-family: Corsiva, arial;
  font-size: 32px;
  text-align: center;
  color: #CC9503;
  margin: 12px 10px 10px;
  text-shadow: 2px 2px 3px #999999;
  filter: dropshadow(color=#999999, offx=2, offy=3);
}

a {
  color: #CC9503;
  cursor: pointer;
  margin: 0 11px;
  padding: 5px;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}


.foxform input, .foxform textarea {
  background-color: #FFFFFF;
  border: 1px solid #C0C0C0;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 0 5px rgba(192, 192, 192, 0.698) inset, 0 0 7px rgba(192, 192, 192, 0.698);
  margin: 0 3px !important;
  padding: 5px !important;
}

.FloatLeft {
  float: left;
}
.FloatRight {
  float: right;
}
.clear {
  clear: both;
}
.line-top {
  background: url(top-bg.gif) repeat;
  width: 100%;
  height: 7px;
}
.header-top {
  background: url("bordado-bg.gif") repeat scroll 0 0 transparent;
  height: 52px;
  width: 100%;
}
.header-badge {
  background: url("badge-top.png") repeat scroll 0 0 transparent;
  height: 89px;
  left: 389px;
  position: absolute;
  top: -102px;
  width: 191px;
}
.header-badge span {
  color: #999999;
  display: block;
  font-size: 30px;
  height: 30px;
  margin: 17px auto 0;
  text-align: center;
  width: 100%;
}
.container {
  width: 980px;
  margin: 0 auto;
}
.container header {
  position: relative;
}
.noivos-nome-container {
  height: 120px;
  margin: 50px auto 0;
  width: 716px;
}
.noivos-nome-container .curl-left {
  background: url("curl-left.png") repeat scroll 0 0 transparent;
  height: 50px;
  width: 100px;
  background: url("curl-left.png") repeat scroll 0 0 transparent;
}
.noivos-nome-container .curl-right {
  background: url("curl-right.png") repeat scroll 0 0 transparent;
  height: 50px;
  width: 100px;
}
.noivos-nome-container .noivos-nome {
  background: url("Marcos-vinicius-e-taisa.png") no-repeat scroll 0 0 transparent;
  height: 84px;
  width: 516px;
}

.noivos-nome-container.mini {
  width: 451px;
  height: 44px;
    margin: 20px auto 0;
}

.noivos-nome-container.mini .noivos-nome {
  background: url("Marcos-vinicius-e-taisa-mini.png") no-repeat scroll 0 0 transparent;
  height: 41px;
  width: 250px;
}
.noivos-nome-container .sub-message {
  color: #666666;
  float: left;
  font-family: Georgia;
  font-size: 16px;
  margin: 5px 0;
  text-align: center;
  width: 100%;
}
.main-menu {
  background: url("menu-principal.png") repeat scroll 0 0 transparent;
  height: 31px;
  margin: 0 auto;
  padding: 14px 80px;
  width: 819px;
}
.main-menu ul li {  
  float: left;
}
.main-menu ul li a {
  text-decoration: none;
  color: #FFFFFF;
  padding: 5px;
  margin: 0 20px;
  cursor: pointer;
  font-family: trebuchet ms;
  font-size: 16px;
}
.main-menu ul li a:hover {
  text-decoration: none;
  color: #e7e7e7;
}
.content {
  background: url("corpo-bg.gif") repeat-y scroll 5px 0 transparent;
  min-height: 300px;
  padding: 12px 20px;
}
.foto-slider {
  background: url("album-fotos.gif") no-repeat scroll 0 0 transparent;
  height: 330px;
  padding: 13px;
  width: 873px;
  margin: 0 auto 0;
  -webkit-box-shadow: 0px 0px 10px 0px #999;
  box-shadow: 0px 0px 10px 0px #999;
}
.bottom-border {
  background: url("corpo-bg-bottom.jpg") no-repeat scroll 2px 0 transparent;
  height: 42px;
  width: 100%;
}
.sign {
  background: url("sign.jpg") no-repeat scroll 0 0 transparent;
  height: 36px;
  margin: 20px auto 0;
  width: 84px;
}
.welcame {
  width: 830px;
  margin: 0 auto;
  text-align: center;
}

.welcame p{
  text-align: center;
  margin: 0 0 35px 0;
}

.welcame h1 {
  font-family: Corsiva, arial;
  font-size: 32px;
  text-align: center;
  color: #CC9503;
  margin: 12px 10px 10px;
  text-shadow: 2px 2px 3px #999999;
  filter: dropshadow(color=#999999, offx=2, offy=3);
}
.section-bg {
  background: url("section-bg.jpg") no-repeat scroll 0 0 transparent;
  margin: 15px 0 0 0;
  padding: 20px 0 0;
  min-height: 230px;
  width: 100%;
}

.section-bg.mini{
  min-height: 60px;
  padding: 20px 60px;
}

.section-bg article {
  width: 400px;
  padding: 20px;
}
.section-bg article img {
  padding: 5px;
  border: 1px solid #999999;
  background: #fff;
  margin: 0 15px 0 0;
  float:left;
  -webkit-box-shadow: 0px 0px 5px 1px #999;
  box-shadow: 0px 0px 5px 1px #999;
}
.section-bg article h2{
  font-family: Corsiva, arial;
  font-size: 32px;
  color: #CC9503;
  text-shadow: 2px 2px 3px #999999;
  filter: dropshadow(color=#999999, offx=2, offy=3);
  margin: 0 0 25px 0;
  float:left;
  text-align: left;
}
.section-bg article p{
  float:left;
  width: 220px;
  margin: 0 0 10px 0;
}

.section-bg article p a{
  color: #CC9503;
  text-decoration: none;
}

.section-bg article p a:hover{
  text-decoration: underline;
}

.coluna-direita {
  float: right;
}
.coluna-esquerda {
  float: left;
}

footer {
  background: url("footer-bg.jpg") repeat-x scroll 0 0 transparent;
  height: 25px;
  margin: 15px 0 0;
  padding: 23px 0 0;
  width: 100%;
}

footer .ConteudoFooter{
  width: 980px;
  margin: 0 auto;
  color: #999999;
  font-size: 11px;
}

.PhotoEffect, .PhotoEffect2 {
  float: left;
  height: 200px;
  width: 175px;
}

.PhotoEffect ul, .PhotoEffect2 ul{
  position: relative;
}

.PhotoEffect ul li, .PhotoEffect2 ul li{
  position: absolute;
  display:none;
}

.description{
  text-align:center;
  margin: 0 0 40px 0;
}

.resultados-container{
  margin: 0 auto;
  padding: 0 20px;
}

.resultados-container h2{
  margin: 0 0 10px 0;
}

.resultados tr th, .resultados tr td{
  padding: 4px 15px;
  text-align:left;
}

.resultados tr th{
  border:1px solid #666;
  background: #666666;
  color: #fff;
}

.resultados tr td{
  border:1px solid #666;
  color: #666;
}

.search-form th{
  text-align:left;
  padding: 3px;  
}

.confirm-link{
  padding: 0 23px;
}

.confirm-link:hover{
  background: url("sprite.jpg") no-repeat scroll 0 -345px transparent;
  padding: 0 23px;
}

.nivoSlider {
    position:relative;
    background:url(slider/loading.gif) no-repeat 50% 50%;
}
.nivoSlider img {
    position:absolute;
    top:0px;
    left:0px;
    display:none;
}
.nivoSlider a {
    border:0;
    display:block;
}

.nivo-directionNav{
  width:100%;
}

.nivo-directionNav a {
  display:block;
  width:30px;
  height:30px;
  background: url(slider/arrows.png) no-repeat;
  text-indent:-9999px;
  border:0;
  top: auto;
  bottom: -36px;
  z-index: 11;
}
.nivo-directionNav a:hover {
    background-color: #eee;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
a.nivo-nextNav {
  background-position:160% 50%;
  right:0px;
}
a.nivo-prevNav {
    background-position:-60% 50%;
    left: 0px;
}








