-if @member.errors.any?
  #error_explanation
    %h2
      = "Devido à #{pluralize(@member.errors.count, 'erro')}. Não foi possível salvar o Administrador."
      %ul
        - @member.errors.full_messages.each do |msg|
          %li
            = msg