%h1
  Editar Membro
=render 'validation'

=form_for [:administrador, @member] do |f|
  %table
    %tr
      %th{colspan:2}
        Preencha os dados para editar um novo Membro de uma Familia
    %tr
      %td
        =f.label :name
      %td
        =f.text_field :name
    %tr
      %td    
        =f.label :familia_id
      %td
        =select_tag [:familia_id], options_from_collection_for_select(@families, "id", "name")
    %tr
      %td
        
      %td
        =f.submit "Editar novo Membro"