%header
  %div.header-badge
    %span
      09.11.13
%div.noivos-nome-container
  %div.curl-left.FloatLeft
  %div.noivos-nome.FloatLeft
  %div.curl-right.FloatLeft
  %span.sub-message
    Estão se Casando
%nav.main-menu
  %ul
    %li
      %a
        Home
    %li
      %a
        Lista de Convidados
    %li
      %a
        Cotas de Lua de Mel
    %li
      %a
        Local
    %li
      %a
        Sobre o Casal                
    %li
      %a
        Contato