%header
  %div.header-badge
    %span
      09.11.13
%div.noivos-nome-container
  %div.curl-left.FloatLeft
  %div.noivos-nome.FloatLeft
  %div.curl-right.FloatLeft
  %span.sub-message
    Estão se Casando
%nav.main-menu
  %ul
    -site_main_menu.each do |item|
      =item.html_safe
