%header
  %div.header-badge
    %span
      09.11.13
%div.noivos-nome-container
  %div.curl-left.FloatLeft
  %div.noivos-nome.FloatLeft
  %div.curl-right.FloatLeft
  %span.sub-message
    Estão se Casando
%nav.main-menu
  %ul
    -site_main_menu.each do |item|
      =item.html_safe
    %li.albummenu{style: "position:relative"}
      =link_to "Álbum", "#", class: "albumlink"
      %ul
        %li
          =link_to "Noivos", "#{root_path}album/noivos"
        %li
          =link_to "Amigos", "#{root_path}album/amigos"
        %li
          =link_to "Família", "#{root_path}album/familia"
        %li
          =link_to "Padrinhos", "#{root_path}album/padrinhos"