%h1
  Confirmação de Presença ao Casamento
  
%p.description
  Querido convidado, a sua presença é de suma importância para nós, 
  %br
  por isso precisamos que confirme sua presença no formulário abaixo para evitar constragimentos 
  %br
  na entrada da recepção e para nos deixar informados da sua participação nesse momento tão especial, 
  %br
  Contamos com você!
  
.section-bg.mini
  =form_for :presence, :method => :post  do |f|
    %table.search-form
      %tr
        %th
          =f.label :name, "Digite seu nome abaixo:", class: "presence-label"
        %th
          
      %tr
        %td
          =f.text_field :name, class: "presence-input"
        %td
          =f.submit "Buscar", class: "confirm-presence"
