%h1
  Convidados relacionados à
  =@family.name

%p.description
  Para confirmar a presença ao nosso casamento, basta digitar seu nome no box abaixo. 
  %br
  Selecionar seu nome na lista e confirmar a presença.
  %br
  Sua presença é muito importante contamos com você !

.section-bg.mini
  %h2{:style => "margin: 0 0 10px; padding: 0;"}
    Confirmar os convidados relacionados à
    =@family.name
  %table.resultados
    %tr
      %th
        Nome
      %th
        Presença
      %th
        
    -@members.each do |m|
      %tr
        -if m.confirmado == true 
          %td.confirmado
            =m.name
          %td.confirmado
            Presença confirmada
          %td
            =link_to "Cancelar Presença", family_member_cancel_path(m.parametrize_name), :confirm => "Esta certo que quer cancelar a participação do membro #{m.name} ?", class: "confirm-link cancel"
        -else
          %td.naoconfirmado
            =m.name
          %td.naoconfirmado
            Ainda não confirmada
          %td          
            =link_to "Confirmar Presença", family_member_confirm_path(m.parametrize_name), class: "confirm-link" 
    -@followers.each do |f|
      %tr
        %td.convidado
          =f.name
        %td.convidado{colspan: "2", stye: "text-align: center;"}
          Estamos verificando 
            
  %br
  .form-acompanhante.contact-form
    =link_to "Adicionar acompanhante", "#", class: "add-acompanhante"
    %br
    .form-add
      %h4
        Por favor, os acompanhantes devem ser pessoas próximas ou familiares (ex: Namorado, filhos etc.)
      -if flash[:notice]
        %p.notice
          =flash[:notice].html_safe
      =form_tag("#{request.path}/#{@family.id}/adicionar-acompanhante", method: :get) do
        %table
          -if flash[:notice]
            %tr
              %td.error-notice
                =label_tag :follower, "Nome:"
              %td.error-notice
                =text_field_tag :follower, "", class: "text-box"
            %tr
              %td.error-notice
                =label_tag :text, "Detalhes:"
              %td.error-notice
                =text_area :text, "detalhes", class: "text-area"
          -else
            %tr
              %td
                =label_tag :follower, "Nome:"
              %td
                =text_field_tag :follower, "", class: "text-box"
            %tr
              %td
                =label_tag :text, "Detalhes(Grau de parentesco):"
              %td
                =text_area :text, "detalhes", class: "text-area"
                
          %tr
            %td
              
            %td
              =submit_tag "Adicionar"
.clearboth
        
        
    
    
    
    
    
    
    
    
    
    
