.resultados-container
  =render "top_and_form"

  -unless @members.nil?
    %h2
      Resultados Encontrados para a busca "
      =@query
      ":
  %table.resultados
    %tr
      %th
        Nome do Convidado
      %th
        Presença
      %th
    -@members.each do |m|
      %tr
        -if m.confirmado == true 
          %td.confirmado
            =m.name
          %td.confirmado
            Presença confirmada
          %td
            =link_to "Cancelar Presença", family_path(m.parametrize_name), class: "confirm-link cancel" 
        -else
          %td.naoconfirmado
            =m.name
          %td.naoconfirmado
            Ainda não confirmada
          %td
            =link_to "Confirmar Presença", family_path(m.parametrize_name), class: "confirm-link"   
  
  %br
  %br
