.resultados-container
  =render "top_and_form"

  -unless @members.nil?
    %h2
      Resultados Encontrados para a busca "
      =@query
      ":
  %table.resultados
    %tr
      %th
        Nome do Convidado
      %th
        Presença
      %th
        
        
    -@members.each do |m|
      %tr
        %td
          =m.name
        %td
          -if m.confirmado == true 
            Presença confirmada
          -else
            Ainda não confirmada
        %td
          =link_to "Confirmar Presença", family_path(m.parametrize_name), class: "confirm-link"   
  
  %br
  %br
